/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text-1: #0a0a0a;
	--color-text-2: #2b2a29;
	--color-background-darkgray: #1F1F1F;
	--main-darkgray: #131212;
	--color-background-black: #141212;

	--font-RiotSans: 'RiotSans';
	--font-InterSemiBold: 'InterSemiBold';
	--font-InterRegular: 'InterRegular';
	--font-MarkProBold: 'MarkProBold';
	
}

/* .test {
	background-color: transparent;
} */




main {
	overflow: hidden;
}

@font-face {
	font-family: 'RiotSans';
	src: url('../fonts/RiotSans-Bold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
 

h1,
h2,
h3 {
	font-family: 'RiotSans';
}

@font-face {
	font-family: 'InterSemiBold';
	src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}


@font-face {
	font-family: 'InterRegular';
	src: url('../fonts/Inter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MarkProBold';
	src: url('../fonts/MarkPro-Bold.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* Header */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	height: 5em;
	width: 100%;
	z-index: 2;
	transition: background-color 0.3s ease;
	background-color: transparent;
}

header > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wwa header > ul {
	background-color: #111;
}

header.scrolled {
	background-color: #111;
}

header > ul li:nth-of-type(1) svg {
	width: 95px;
	height: 32px;
}

header > ul li:nth-of-type(2) svg {
	width: 40px;
	height: 40px;
}

header > ul li:nth-of-type(3) svg {
	width: 26px;
	height: 26px;
}

header > ul li:nth-of-type(4) svg {
	width: 48px;
	height: 48px;
}


header > ul {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	list-style: none;
	padding: 0em 0em 0em 1em;
	/* background-color: var(--main-darkgray); */
}

header ul > li:nth-child(1) {
	grid-column: 1 / span 2;
}

header ul > li:nth-child(2) {
	grid-column: 11;
}

header ul > li:nth-child(3) {
	grid-column: 18;
}

header ul > li:nth-child(4) {
	grid-column: -1;
}


header button {
	background: none;
	border: none;
	font-size: 1.5rem;
	color: white;
	cursor: pointer;
}


/* Navigation (hidden by default) */
header nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #1f1f1f;
	transform: translateX(100%);
	transition: transform 0.3s ease;
	padding: 1em;
}

header nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav.toonMenu {
	transform: translateX(0%);
	width: 100%;
}

nav button {
	cursor: pointer;
	padding: 0;
}

nav ul li:nth-of-type(1) svg {
	height: 2.5em;
}	

nav ul li:nth-of-type(2) svg {
	height: 2em;
}	

header nav ul:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 0.5em;
}

header nav ul:nth-of-type(2) li a {
	color: white;
	letter-spacing: .08em;
    margin: 0.3em 0;
	padding-left: 1.2em;
	padding-bottom: 0.8em;
	font-family: var(--font-MarkProBold);
}


header nav div span {
	height: 1em;
	fill: white;
}

header nav div {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2em;
}

header nav div > button {
	background-color: rgb(209, 54, 57);
	width: 100%;
	color: var(--color-text-1);
	font-family: var(--font-MarkProBold);
	font-size: .8rem;
	letter-spacing: 0.1em;
	border-radius: 2em;
	margin-top: 4em;
	padding: .8em;
}


header nav div label {
	box-shadow: inset 0 0 0 1px #f9f9f9;
	border-radius: 1.6rem;
	width: 10em;
	display: flex;
	justify-content: space-between;
	padding: .3rem 1.4rem;
}

header nav div input {
	background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: .8rem;
    border-style: none;
    margin-right: 0.2em;
}

header nav div input::placeholder{
    color: white;
}


video {
	display: block;
	z-index: -1;
	width: 100%;
	height: 78vh;
	object-fit: cover;
}

section {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}


a {
	text-decoration: none;
}

p {
	font-family: "InterRegular";
}

h1,
h2,
h3 {
	color: white;
	text-align: center;
}

h1 {
	font-weight: 700;
}


h2 {
	font-weight: 700;
	letter-spacing: -.03em;
	font-size: 1.9rem;
}


img {
	max-width: 100%;
}


section:nth-of-type(1) {
	background-color: #0a0a0a;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 2em;
}

section:nth-of-type(1) button {
	color: white;
	border-style: none;
	font-size: .813rem;
    border-radius: 0.6em;
	padding: 1em;
	width: 8em;
	height: 4em;
    text-transform: uppercase;
    font-weight: 800;
	align-items: center;
	background-color: var(--color-background-darkgray);
	margin: 2em 0em 4em 0em;
}

section:nth-of-type(1) article:first-of-type a{
	display: flex;
	flex-direction: column;
	gap: 0.5em; 
	height: 100%;
	align-items: start;
}

section:nth-of-type(1) article:first-of-type h3 {
	text-align: left;
}


section:nth-of-type(1) article:first-of-type p {
	margin: 0;
	padding: 0;
}

section:nth-of-type(1) article:not(:first-of-type) {
	background-color: var(--color-background-darkgray);
	margin: 0.5em 1em;
	border-radius: 0.6em;
	height: 8em;
}


/* @media(min-width: 600px) {
	section:nth-of-type(1) article:nth-child(1) {
		grid-column: 1/-1;
	}
} */

/* section:nth-of-type(1) article div {
	padding-top: 0.6em;
	padding-left: 0.6em;
} */

/* section:nth-of-type(1) article a svg {
	width: 20px;
	height: 18px;
} */

section:nth-of-type(1) article:not(:first-of-type) {
	height: 7em;
	position: relative;
}


section:nth-of-type(1) article:not(:first-of-type) a {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 0;
	align-items: center;
	height: 7em;
	padding: .5rem 1rem;
}

section:nth-of-type(1) article:not(:first-of-type) a h3 {
	grid-column: 1;
	grid-row: 1;
	font-size: 1.125rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	/* text-overflow: ellipsis; */
	text-align: left;
	width: 80%;
}

section:nth-of-type(1) article:not(:first-of-type) h3 {
	grid-column: 1;
	grid-row: 1;

}

section:nth-of-type(1) article:not(:first-of-type) p, div, svg {
	grid-column: 1;
	grid-row: 2;
	text-align: left;
	padding: 0;
}


section:nth-of-type(1) article:not(:first-of-type) div {
	background: black;
	border-radius: 50%;   
	width: 24px;         
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
  }

section:nth-of-type(1) article:not(:first-of-type) div svg {
	width: 14px;
	height: 14px;  
}


section:nth-of-type(1) article:not(:first-of-type) a img {
	grid-column: 2;
	grid-row: 1 / span 2;
	width: auto;
	height: 7em;
	border-radius: 0.6em;
	margin-right: 0;
	position: absolute;
    right: 0;
    top: 0;

}

section:nth-of-type(1) article p {
	font-size: .75em;
	font-weight: 800;
	font-family: 'InterRegular';
	padding-top: 1.4em;
	color: rgba(101, 100, 98, .9);
	margin-left: 2.5em;
}

section:nth-of-type(2) {
	margin: 0;
	padding-top: 2em;
	background-color: var(--color-background-darkgray);
}


section:nth-of-type(2) article a {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	align-items: center;
	height: 100%;
}

section:nth-of-type(2) article img:nth-child(1) {
	display: grid;
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;
	border-radius: 0.6em;
}

section:nth-of-type(2) article img:nth-child(2) {
	display: grid;
	grid-column: 1;
	grid-row: 1;
	width: 5.5em;
	margin: 0 auto;
}

/* carousel */
section:nth-of-type(3) {
	padding-bottom: 4em;
	background-color: var(--color-background-darkgray);
}

section:nth-of-type(3) h2 {
	padding-top: 2em;
}

section:nth-of-type(3) ul li a {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
	height: 100%;
}

section:nth-of-type(3) ul li img:nth-child(1) {
	display: grid;
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

section:nth-of-type(3) ul li img:nth-child(2) {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 4em;
    margin: 0 auto;
}



section:nth-of-type(3) ul {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	scrollbar-color: #1F1F1F;
	overscroll-behavior-x: contain;
	padding: 1em;
	scroll-marker-group: after;
}

section:nth-of-type(3) ul::scroll-marker-group {
	display: flex;
	justify-content: center;
	gap: .5em;
}

 
section:nth-of-type(3) li::scroll-marker {
	content: '';
	height: .3em;
	width: .3em;
	background-color: #adacaa;
	border-radius: 50%;
}

section:nth-of-type(3) li::scroll-marker:target-current {
	background-color: red;
}


section:nth-of-type(3) li {
	max-width: 20em;
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

section:nth-of-type(3) li img {
	border-radius: 0.6em;
}


/* bolletjes van riot */

section:nth-of-type(4) {
	background-color: #EBEBEB;
}

section:nth-of-type(4) h2 {


}

section:nth-of-type(4) article{
	/* background-color: #EBEBEB; */
	padding: 0 1em 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 0.5fr 1fr;
	grid-row-gap: 1.8em;

}


section:nth-of-type(4) h2 {
	color: var(--color-text-1);
	/* grid-column: 1/3; */
	/* grid-row: 1 / 3; */
	padding: 1em 0;
	text-align: center;
}

section:nth-of-type(4) article h3 {
	grid-column: 1/3;
	grid-row: 1;
	padding: 0;
	font-size: 1.25rem;
    color: #656462;
    line-height: 1.5;
    letter-spacing: -.03em;
    font-weight: 600;
	text-align: center;
    max-width: 450px;
	font-family: 'InterSemiBold';
}

section:nth-of-type(4) article button {
	grid-column: 1/3;
	/* grid-row: 4; */
	border: #d1363a solid 0.5em;
	border-radius: 1.2em;
	background-color: #d1363a;
	/* padding: 0.3em 0.9em; */
	width: 100%;
	height: 3em;
	/* text-decoration: none; */
	/* text-align: center; */
	color: #e7e6e3;
	font-family: 'InterSemiBold';
	font-size: 1.25em;
	margin-bottom: 1.8em;
}

section:nth-of-type(4) article a {
	background-color: rgba(173, 172, 170, .2);
	color: var(--color-text-1);
	font-family: 'InterSemiBold';
	height: 2.125em;
	font-size: 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
    text-align: center;
    border-radius: 8px;
    line-height: 1.2;
    font-weight: 700;
}

section:nth-of-type(4) article a:nth-of-type(1) {
	margin-right: 0.2em;
}

section:nth-of-type(4) article a:nth-of-type(2) {
	margin-left: 0.2em;
}

section:nth-of-type(4) article a span {
	color: #656462;
    font-size: 1.125rem;
}





footer {
	margin-top: -1em;
	background-color: var(--color-background-darkgray);
	transition: all .3s ease-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: .8rem;
}

footer ul {
	text-align: center;
	padding-top: 1em;
}

footer li {
	/* margin-top: 0.3em; */
	/* display: block; */
	text-transform: uppercase;
	font-family: var(--font-InterSemiBold);
}
footer ul li a {
	font-size: .8em;
}

footer ul > a {
	padding-top: 3em;
}

footer a {
	color: white;
	text-align: center;
    padding: 10px;
    letter-spacing: -.03em;
	font-size: 2em;
}

footer a {
	font-size: .875rem;
}

footer ul:nth-of-type(2) {
	display: flex;
}

footer ul:nth-of-type(2) li:nth-of-type(1) svg {
	width: 16px;
	height: 16px;
	fill: white;
}

footer ul:nth-of-type(2) li:nth-of-type(2) svg {
	width: 16px;
	height: 16px;
	fill: white;

}

footer ul:nth-of-type(2) li:nth-of-type(3) svg {
	width: 16px;
	height: 16px;
	fill: white;

}

footer ul:nth-of-type(2) li:nth-of-type(4) svg {
	width: 16px;
	height: 16px;
	fill: white;
}

footer ul:nth-of-type(2) li:nth-of-type(5) svg {
	width: 9px;
	height: 16px;
	fill: white;
}

footer ul:nth-of-type(2) li:nth-of-type(6) svg {
	width: 19px;
	height: 13px;
	fill: white;

}

/* WHO WE ARE PAGINA */

.wwa section:nth-of-type(1) {
	min-height: 535px;
}

.wwa section:nth-of-type(1) img {
	filter: brightness(40%);
	position: relative;
	height: 38em;
	width: 100%;
}

.wwa section:nth-of-type(1) h1 {
	color: white;
	position: absolute;
    top: 26%;
	text-align: center;
	font-size: 2.8em;
	font-family: 'RiotSans';
	letter-spacing: -.03em;

}

.wwa section:nth-of-type(1) p:nth-of-type(1) {
	color: white;
	position: absolute;
    top: 18.5%;
	text-align: center;
	font-size: 1.25em;
	letter-spacing: -.03em;
    line-height: 3.2em;
}

.wwa section:nth-of-type(1) p:nth-of-type(2) {
	color: white;
	position: absolute;
    top: 37%;
	text-align: center;
	letter-spacing: -.03em;
    font-size: 1.2em;
    line-height: 1.4em;
}

.wwa section:nth-of-type(1) ol {
	width: 100%;
	position: absolute;
	top: 59%;
	color: white;
}


section:nth-of-type(1) ol {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	justify-items: center;
	gap: 2em;
}


section:nth-of-type(1) ol li {
	max-width: 20em;
	flex-shrink: 0;
	scroll-snap-align: center;
	padding-left: 0;
}

section:nth-of-type(1) ol li a {
	color: white;
	font-family: 'RiotSans';
    letter-spacing: -.03em;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

section:nth-of-type(2) div {
	background-color: var(--color-background-black);
	min-height: 330px;
}


.carousel-article {
	display: none;
}

.carousel-article.active {
	display: block;
}

.carousel-menu li.active a{
	text-decoration: underline red;
}



section:nth-of-type(2) ul {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	flex-direction: row;
	padding-top: 3em;
	scroll-marker-group: after;
}

/* asdfsafsd */
section:nth-of-type(2) ul::scroll-marker-group {
	display: flex;
	justify-content: start;
	padding: 1.5em;
	gap: .5em;
}

 
section:nth-of-type(2) ul li::scroll-marker {
	content: '';
	height: 0.6em;
	width: 0.6em;
	background-color: #dbd9d6;
	border-radius: 50%;
}

section:nth-of-type(2) ul li::scroll-marker:target-current {
	background-color: red;
}

section:nth-of-type(2) ul li {
	display: flex;
	flex-direction: column;
	flex-basis: 70%;
	flex-shrink: 0;
	padding-left: 2em;
	gap: 1em;
	color: white;
	scroll-snap-align: center;
	padding-right: 2em;
}

section:nth-of-type(2) ul li h2 {
	font-family: 'RiotSans', Arial, sans-serif;
    letter-spacing: -.03em;
    font-size: 24px;
	text-align: left;
	line-height: 28px;
}

section:nth-of-type(2) ul li p {
	text-align: left;
	font-family: 'Inter V Latin', Arial, sans-serif;
    letter-spacing: -.03em;
    font-size: 16px;
    line-height: 20px;
	padding: 0;
}


div:nth-of-type(1) span{
	display: flex;
	padding: 0;

}

div:nth-of-type(1) h3 {
	color: black;
}

div:nth-of-type(1) iframe {
	position: relative;
    width: 80%;
    height: 250px;
    padding-top: 50px;
    overflow: hidden;
    margin: 0 auto;
}



details {
	/* margin: 1rem 0; */
	background-color: var(--main-darkgray);
	color: #fff;
	overflow: hidden;
}


details * {
	margin: 0;
}

details div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 0;
}

details div img {
	margin-top: 9em;
	width: 200px;
}

details div p {
	letter-spacing: -.03em;
	line-height: 1.2;
	text-align: center;
	color: #e7e6e3;
	max-width: 380px;
	font-family: 'InterRegular', Arial, sans-serif;


}

details div a {
	border: #d1363a solid 0.5em;
	border-radius: 1.2em;
	background-color: #d1363a;
	padding: 0.3em 0.9em;
	text-decoration: none;
	text-align: center;
	color: #e7e6e3;
	margin-bottom: 2.5em;
}

summary {
	height: 6em;
	display: grid;
	grid-template-columns: 0.5fr 1fr 8fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr;
	position: relative;
	transition: opacity 0.5s ease;
}

details[open] summary img:nth-child(1) {
	opacity: 1;
}


summary::marker {
	content: "";
}


summary img:nth-child(1) {
	grid-column: 1/-1;
	grid-row: 1/-1;
	opacity: 0.5;
	transition: opacity 0.5s ease;
	width: 100%;
	display: block;
	object-fit: cover;
	object-position: top;
	max-height: 100px;
	transition: max-height 0.8s ease;
}


summary img:nth-child(2) {
	grid-column: 2/3;
	grid-row: 2;
	width: 3.75em;
	z-index: 2;
	transition: opacity 0.5s ease;
}

summary p {
	grid-row: 2;
	grid-column: 3/4;
	opacity: 1;
	z-index: 2;
	transition: opacity 0.5s ease;
	font-family: 'RiotSans';
}

details[open] summary p {
	opacity: 0;
}


details[open] summary img:nth-child(1) {
	max-height: 16.25em;
}

details[open] summary img:nth-child(2) {
	opacity: 0;
}

summary::after {
	content: "+";
	position: absolute;
	right: 1rem;
	bottom: 2rem;
	font-size: 1.35rem;
	border: 1px solid white;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	transition: transform 0.3s;
}

details[open] summary::after {
	content: "−";
}

details[open] div {
	max-height: 100%;
}

.commitment {
	margin-top: -4em;
	padding: 3em 0;
	background-color: white;
}

.commitment h3 {
	color: black;
	padding-bottom: 1em;
    letter-spacing: -.03em;
    font-size: 1.5em;
	text-align: start;
    margin-left: 1em;
}


.commitment ul {
	display: flex;
	overflow: auto;
	scrollbar-width: none;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	scroll-marker-group: after;
}

.commitment ul::scroll-marker-group {
	display: flex;
	justify-content: center;
	padding: 1.5em;
	gap: .5em;
}

 
.commitment ul li::scroll-marker {
	content: '';
	height: 0.6em;
	width: 0.6em;
	background-color: #dbd9d6;
	border-radius: 50%;
}

.commitment ul li::scroll-marker:target-current {
	background-color: red;
}

.commitment li:first-of-type {
	margin-left: 1em;
}


.commitment li {
	margin-left: -3.5em;
	flex-basis: 80%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

.commitment li h4 {
	color: black;
	font-family: 'RiotSans';
    letter-spacing: -.03em;
    margin-left: 20%;
    font-size: 18px;
}

.commitment a {
	padding: 0;
	
}

.commitment li > a {
	padding: 1em;
	margin-left: 16%;
    padding-top: 8px;
    font-size: 16px;
    text-decoration: underline;
    font-family: ClassicGrotesqueW02, Arial, sans-serif;
	color: #d1363a;;
}


.commitment li figure {
	clip-path: polygon(0 0, 80% 0, 100% 100%, 20% 100%);
	padding-bottom: 24px;
}

/* .commitment li figure img {

} */


p,
a {
	padding: 1rem;
	display: block;
}


